node_modules/
/node_modules/
tax-filters/
/tax-filters/
.editorconfig
.eslintignore
.eslintrc.js
package-lock.json
gulpfile.babel.js
admin/
/admin/

assets/dist/admin.css.map
assets/dist/admin.css
assets/sass/files/tax-filters.scss
assets/js/theme/filter.js
index.php
