.flickity-enabled {
	position: relative;
  }

  .flickity-enabled:focus { outline: none; }

  .flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
  }

  .flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
  }

  // Draggable

  .flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }

  .flickity-enabled.is-draggable .flickity-viewport {
	cursor: -webkit-grab;
	cursor: grab;
  }

  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
  }

  // Prev/Next buttons Global

  .flickity-button {
	position: absolute;
	background: var(--color-1);
	border: none;
	color: var(--t-color);
	@include st;
  }

  .flickity-button:hover {
	cursor: pointer;
	opacity: .8;
  }

  .flickity-button:focus {
	outline: none;
  }

  .flickity-button:active {
	opacity: 0.6;
  }

  .flickity-button:disabled {
	opacity: 0.3;
	cursor: auto;
	pointer-events: none;
  }

   // Prev/Next buttons Global individual

  .flickity-prev-next-button {
	bottom: 3rem;
	width: 5rem;
	height: 5rem;
	border-radius: 2px;
	top: auto;
	@include flex-center;
  }

  .flickity-prev-next-button.previous {
	right: calc(8rem + 8px);
}
  .flickity-prev-next-button.next {
	right: 3rem;
}
  .flickity-prev-next-button .flickity-button-icon {
	width: 60%;
	height: 60%;
  }

  // Dots

  .flickity-page-dots {
	position: absolute;
	bottom: 3rem;
	left: 3rem;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
  }

  .flickity-rtl .flickity-page-dots { direction: rtl; }

  .flickity-page-dots .dot {
	display: inline-block;
	width: 5rem;
	height: 4px;
	background: var(--color-1);
	opacity: 0.25;
	cursor: pointer;
	@include st;
	&:not(:last-child) {
		margin-right: 4px;
	}
  }
  .main-carousel:hover {
	.flickity-page-dots .dot {
		height: 6px;
	}
  }

  .flickity-page-dots .dot.is-selected {
	opacity: 1;
  }

  .carousel-cell {
	width: 100%;
	display: flex;
	align-items: center;
	height: calc(100svh - 150px);

	padding-block: var(--space-1);
	.image_bg {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
	.container {
		margin-bottom: 8rem;
	}
  }
